body {
    background-color: white;
    //background-color: #30333a;
}

h1{
    margin-left: 50px;
}

h2{
    color: white;
}

h5{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4;
}

h6{
    display: flex;
    justify-content: center;
    align-items: center;
}